test
[{"id":"102aab2a.e4c445","type":"tab","label":"Correios","disabled":false,"info":""},{"id":"bf1dd55b.a76b18","type":"group","z":"102aab2a.e4c445","name":"Verifica objetos","style":{"fill":"#ffffbf","label":true,"stroke":"#ffff00"},"nodes":["f0db72fc.11c73","9de73acf.94de78","ba71d85a.ad8ba8","293ca4b.07e2a5c","edd32aaa.74f668","6a2ff30b.7498ec","47353582.4c2a4c","59ddf8ea.3473f8","49dcb8af.1f1888","3bcb9858.59d468","ca27bf70.97255","da3c6657.c636f8","f3efc5c7.f439e8","cdc633c8.5d42e","1ca30250.d1296e","e950a149.3bb91","dcdc5e52.8232c","c452d7e3.f81138","bc9e1b48.649ef8","a671a7bd.d43d08","3f44664c.186b5a","74b0d9db.95f898","a6671fdb.80a43","48390d36.950bd4","41ee9760.1ff678","6820f8c4.86aba8","4d59e8c9.e1cd68","52bce12.626712","eb7440e1.c2e1c","16f66efb.851ff1","fcf146f0.ebd018","3d14f0ef.2d59f","1b41ae27.22fa02","51604cb9.2f2b24","8443064f.437c88","35bd9a9d.045686","50fe2abb.9361f4","bb22fb88.c88168","20376ee0.ea7452","36675999.496e56","6a205e0.0a5e3a4","8d08a95f.3d8158","6690f237.e234ac","8b796b25.2bdaa8","7b866d44.027b84","626617af.35f7a8","4fd64594c863cccf"],"x":34,"y":279,"w":2432,"h":622},{"id":"e0603566.fa85c8","type":"group","z":"102aab2a.e4c445","name":"Adicionar Remover Objeto","style":{"stroke":"#ff0000","fill":"#ffbfbf","label":true},"nodes":["174626b6.13a9d9","d6ddeefd.35b48","e3cc0844.cb75d8","678296a5.bf52b8","4d45f392.c9189c","3bfcda23.3b57e6","7323b40b.c22a1c","26c6a6dd.0d125a","9cc9ed92.bce18","12138951.272ae7","b549b517.0b6eb8","a6a3f9bc.b1e218","6a34f8f4.534608","5161013c.9b6b4","26b49442.4566fc","88660fa228e48a74","1cedb5206a62a7a1"],"x":34,"y":919,"w":1232,"h":362},{"id":"f2cead29.8a88e","type":"group","z":"102aab2a.e4c445","name":"Telegram => Comandos | Output","style":{"fill":"#c8e7a7","label":true},"nodes":["c38034d9.f33c18","b86ff78d.546328","32325494.8921dc","82e72011.f2a53","89bcab5.908ea58","aa546ee6.54e91","bddf743e.6322c8","1a7bac1c.c6fea4","1b6f36db.f32549","80cc10ca.2c6b1","015caf72c9ac3d06","689ad8a3242e2f25","ecd9b831ad71a7ba","02739e42ab3b4734","dbcaebd292d76dd1"],"x":24,"y":19,"w":812,"h":242},{"id":"174626b6.13a9d9","type":"file","z":"102aab2a.e4c445","g":"e0603566.fa85c8","name":"Salva no arquivo","filename":"/homeassistant/node-red/objetos_correios.json","filenameType":"str","appendNewline":true,"createDir":false,"overwriteFile":"true","encoding":"none","x":1150,"y":980,"wires":[[]]},{"id":"d6ddeefd.35b48","type":"json","z":"102aab2a.e4c445","g":"e0603566.fa85c8","name":"","property":"payload","action":"","pretty":false,"x":990,"y":980,"wires":[["174626b6.13a9d9"]]},{"id":"e3cc0844.cb75d8","type":"function","z":"102aab2a.e4c445","g":"e0603566.fa85c8","name":"Altera Dado","func":"var tamanho = Object.keys(msg.payload).length;\n\nif (msg.adicionar) {\n    for (let i = 0; i < tamanho; i++) {\n        if (msg.payload[i].objeto.toUpperCase() === msg.objeto.toUpperCase() || msg.payload[i].nome.toUpperCase() === msg.nome.toUpperCase()) {\n            msg.payload.content = \"❌ Objeto já cadastrado!\";\n            return [null, null, msg];\n        }\n    }\n\n    msg.payload[tamanho] = {\n        objeto: msg.objeto,\n        nome: msg.nome,\n        ultimaAtualizacao: msg.ultimaAtualizacao\n    };\n\n    const successMsg = {\n        payload: {\n            content: `✅ Objeto ${msg.nome} cadastrado com sucesso!`\n        },\n        detalhes: true,\n        nomeobj: msg.nome\n    };\n    \n    node.send([null, null, successMsg]);\n    node.send([null, successMsg, null]);\n} else {\n    if (!msg.objeto || !msg.nome) {\n        msg.payload.content = \"❌ Objeto ou formato inválido!\\n📍 Use \\\"/del código (ou nome)\\\"\\n✏️ /del Luva de frio\\n✏️ /del OP012345678BR\";\n        return [null, null, msg];\n    }\n    \n    let numObjetos = tamanho; // Declaração da variável numObjetos\n    const payloadOld = msg.payload;\n    msg.payload = {};\n    let indice = 0;\n    let objetoRemovido;\n\n    for (let i = 0; i < tamanho; i++) {\n        if (payloadOld[i].objeto.toUpperCase() !== msg.objeto.toUpperCase() && payloadOld[i].nome.toUpperCase() !== msg.nome.toUpperCase()) {\n            msg.payload[indice] = {\n                nome: payloadOld[i].nome,\n                objeto: payloadOld[i].objeto,\n                ultimaAtualizacao: payloadOld[i].ultimaAtualizacao\n            };\n            indice++;\n        } else {\n            objetoRemovido = `${payloadOld[i].nome} (${payloadOld[i].objeto})`;\n        }\n    }\n\n    if (msg.inativos) {\n        return msg;\n    } else {\n        tamanho = Object.keys(msg.payload).length;\n        const objetosRemovidos = tamanho - numObjetos;\n        const responseMsg = {\n            payload: {\n                content: objetosRemovidos === 0 ? \"❌ Objeto não localizado!\" : `✅ Objeto ${objetoRemovido} removido com sucesso!`\n            }\n        };\n        node.send([null, null, responseMsg]);\n    }\n}\n\nreturn msg;\n","outputs":3,"timeout":"","noerr":0,"initialize":"","finalize":"","libs":[],"x":830,"y":1040,"wires":[["d6ddeefd.35b48"],["26b49442.4566fc"],["26c6a6dd.0d125a"]]},{"id":"678296a5.bf52b8","type":"json","z":"102aab2a.e4c445","g":"e0603566.fa85c8","name":"","property":"payload","action":"","pretty":false,"x":690,"y":1040,"wires":[["e3cc0844.cb75d8"]]},{"id":"4d45f392.c9189c","type":"file in","z":"102aab2a.e4c445","g":"e0603566.fa85c8","name":"Lê Arquivo","filename":"/homeassistant/node-red/objetos_correios.json","filenameType":"str","format":"utf8","chunk":false,"sendError":false,"encoding":"none","allProps":false,"x":530,"y":1040,"wires":[["678296a5.bf52b8"]]},{"id":"3bfcda23.3b57e6","type":"link in","z":"102aab2a.e4c445","g":"e0603566.fa85c8","name":"Remover Objeto Correios","links":["8b796b25.2bdaa8","b86ff78d.546328"],"x":395,"y":1100,"wires":[["4d45f392.c9189c"]]},{"id":"7323b40b.c22a1c","type":"link in","z":"102aab2a.e4c445","g":"e0603566.fa85c8","name":"Adicionar Objeto Correios","links":["c38034d9.f33c18"],"x":215,"y":960,"wires":[["9cc9ed92.bce18"]]},{"id":"26c6a6dd.0d125a","type":"link out","z":"102aab2a.e4c445","g":"e0603566.fa85c8","name":"Para Telegram","links":["89bcab5.908ea58"],"x":955,"y":1100,"wires":[]},{"id":"9cc9ed92.bce18","type":"function","z":"102aab2a.e4c445","g":"e0603566.fa85c8","name":"Valida o Objeto","func":"const msg2 = {\n    payload: {\n        content: \"❌ Objeto ou formato inválido!\\n📍 Use \\\"/add código nome do pacote\\\"\\n✏️ /add OP012345678BR Luva de frio\"\n    }\n};\n\nif (!msg.objeto || !msg.nome || msg.objeto.length !== 13) {\n    return [msg2, null];\n}\n\n// Separa o código em partes\nconst tipo = msg.objeto.substr(0, 2);\nconst numero = msg.objeto.substr(2, 9);\nconst pais = msg.objeto.substr(11, 12);\n\n// Tipo\nif (!tipo.match(\"^[a-zA-Z]+$\")) {\n    msg2.payload.content += \" Erro no tipo!\";\n    return [msg2, null];\n}\n\n// Número\nif (!numero.match(\"^[0-9]+$\")) {\n    msg2.payload.content += \" Erro nos números!\";\n    return [msg2, null];\n}\n\n// Pais\nif (!pais.match(\"^[a-zA-Z]+$\")) {\n    msg2.payload.content += \" Erro no país!\";\n    return [msg2, null];\n}\n\nreturn [null, msg];\n","outputs":2,"timeout":"","noerr":0,"initialize":"","finalize":"","libs":[],"x":340,"y":960,"wires":[["12138951.272ae7","1cedb5206a62a7a1"],["4d45f392.c9189c","88660fa228e48a74"]]},{"id":"12138951.272ae7","type":"link out","z":"102aab2a.e4c445","g":"e0603566.fa85c8","name":"Para Telegram","links":["89bcab5.908ea58"],"x":475,"y":960,"wires":[]},{"id":"b549b517.0b6eb8","type":"function","z":"102aab2a.e4c445","g":"e0603566.fa85c8","name":"Adicionar","func":"// NÓ DE TESTE! NÃO AFETADO PELOS COMANDOS NO TELEGRAM! //\n\nmsg = {};\nmsg.adicionar = true;\nmsg.nome = \"Balizadorteste\";\nmsg.objeto = \"QF643958646BR\"\nmsg.leituraRealizada = false;\nmsg.ultimaAtualizacao = new Date(2010,10,10,10,10,10); // Data padrão, de cadastro\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":360,"y":1020,"wires":[["4d45f392.c9189c"]]},{"id":"a6a3f9bc.b1e218","type":"function","z":"102aab2a.e4c445","g":"e0603566.fa85c8","name":"Remover","func":"// NÓ DE TESTE! NÃO AFETADO PELOS COMANDOS NO TELEGRAM! //\n\nmsg = {};\nmsg.adicionar = false;\nmsg.objeto = \"Hidrômetro_2\";\nmsg.nome = \"Hidrômetro_2\";\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":360,"y":1060,"wires":[["4d45f392.c9189c"]]},{"id":"6a34f8f4.534608","type":"inject","z":"102aab2a.e4c445","g":"e0603566.fa85c8","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":180,"y":1060,"wires":[["a6a3f9bc.b1e218"]]},{"id":"5161013c.9b6b4","type":"inject","z":"102aab2a.e4c445","g":"e0603566.fa85c8","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":180,"y":1020,"wires":[["b549b517.0b6eb8"]]},{"id":"c38034d9.f33c18","type":"link out","z":"102aab2a.e4c445","g":"f2cead29.8a88e","name":"add","links":["7323b40b.c22a1c"],"x":335,"y":60,"wires":[]},{"id":"b86ff78d.546328","type":"link out","z":"102aab2a.e4c445","g":"f2cead29.8a88e","name":"del","links":["3bfcda23.3b57e6"],"x":335,"y":100,"wires":[]},{"id":"32325494.8921dc","type":"link out","z":"102aab2a.e4c445","g":"f2cead29.8a88e","name":"lista","links":["da3c6657.c636f8"],"x":335,"y":180,"wires":[]},{"id":"82e72011.f2a53","type":"link out","z":"102aab2a.e4c445","g":"f2cead29.8a88e","name":"reset","links":["edd32aaa.74f668"],"x":335,"y":220,"wires":[]},{"id":"89bcab5.908ea58","type":"link in","z":"102aab2a.e4c445","g":"f2cead29.8a88e","name":"Msg","links":["12138951.272ae7","26c6a6dd.0d125a","d2603ff3.98c26","ca27bf70.97255","dcdc5e52.8232c","eb7440e1.c2e1c","10b480ea.5b43ef","ea6137ac.3b8058","cc5ba967.5819a8","51604cb9.2f2b24","24cff8b7.e85498","8d08a95f.3d8158"],"x":425,"y":60,"wires":[["bddf743e.6322c8"]]},{"id":"aa546ee6.54e91","type":"function","z":"102aab2a.e4c445","g":"f2cead29.8a88e","name":"Adicionar","func":"msg.args = msg.originalMessage.text.slice(0).trim().split(/ +/g);\nmsg.adicionar = true;\nmsg.objeto = msg.args[1]\nmsg.args.splice(0, 2)\nmsg.nome = msg.args.join(\" \")\nmsg.leituraRealizada = false;\nmsg.ultimaAtualizacao = new Date(2010,10,10,10,10,10); // Data padrão, de cadastro\nreturn msg;","outputs":1,"timeout":"","noerr":0,"initialize":"","finalize":"","libs":[],"x":240,"y":60,"wires":[["c38034d9.f33c18"]]},{"id":"bddf743e.6322c8","type":"function","z":"102aab2a.e4c445","g":"f2cead29.8a88e","name":"Variável","func":"const payload = { \nchatId: ['1147754709','6734811014'],\n    type: \"message\",\n    content: msg.payload.content };\nreturn {payload,msg};","outputs":1,"timeout":"","noerr":0,"initialize":"","finalize":"","libs":[],"x":520,"y":60,"wires":[["015caf72c9ac3d06"]]},{"id":"1a7bac1c.c6fea4","type":"function","z":"102aab2a.e4c445","g":"f2cead29.8a88e","name":"Remover","func":"msg.args = msg.originalMessage.text.slice(0).trim().split(/ +/g);\nmsg.adicionar = false;\nmsg.args.splice(0, 1)\nmsg.nome = msg.args.join(\" \")\nmsg.objeto = msg.args.join(\" \")\nreturn msg;","outputs":1,"timeout":"","noerr":0,"initialize":"","finalize":"","libs":[],"x":240,"y":100,"wires":[["b86ff78d.546328"]]},{"id":"1b6f36db.f32549","type":"function","z":"102aab2a.e4c445","g":"f2cead29.8a88e","name":"Variável","func":"msg.args = msg.originalMessage.text.slice(0).trim().split(/ +/g);\nif (msg.args[0] == \"/detalhes+\")\n{\n    msg.resumo = true\n}\nif (msg.args[1]) {\nmsg.detalhes = true;\nmsg.args.splice(0, 1)\nmsg.nomeobj = msg.args.join(\" \")\nreturn [msg, null];\n} else {\nmsg.payload = \"🚩 Escolha a opção desejada!\\n🚩 Para consultar um objeto específico você também pode usar \\\"/detalhes nome (ou número)\\\"\\n✏️ /detalhes Luva de frio\\n✏️ /detalhes OP012345678BR\"\nreturn [null, msg];\n}","outputs":2,"timeout":"","noerr":0,"initialize":"","finalize":"","libs":[],"x":170,"y":185,"wires":[["80cc10ca.2c6b1"],[]]},{"id":"80cc10ca.2c6b1","type":"link out","z":"102aab2a.e4c445","g":"f2cead29.8a88e","name":"Dets","links":["52bce12.626712"],"x":335,"y":140,"wires":[]},{"id":"26b49442.4566fc","type":"link out","z":"102aab2a.e4c445","g":"e0603566.fa85c8","name":"Para Detalhes","links":["52bce12.626712"],"x":955,"y":1040,"wires":[]},{"id":"f0db72fc.11c73","type":"function","z":"102aab2a.e4c445","g":"bf1dd55b.a76b18","name":"Último URL","func":"var url = \"https://api.linketrack.com/track/json?user=tiagokruger404@gmail.com&token=da1e4551a7b5b20a5027d6b88de229b81502e6b0a0cee1e04ed9308ad47124e0&codigo=\" \nmsg.url = url + msg.objeto;\nreturn msg;","outputs":1,"timeout":"","noerr":0,"initialize":"","finalize":"","libs":[],"x":910,"y":680,"wires":[["9de73acf.94de78"]]},{"id":"9de73acf.94de78","type":"delay","z":"102aab2a.e4c445","g":"bf1dd55b.a76b18","name":"","pauseType":"rate","timeout":"4","timeoutUnits":"seconds","rate":"1","nbRateUnits":"7","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"outputs":1,"x":1040,"y":600,"wires":[["4fd64594c863cccf"]]},{"id":"ba71d85a.ad8ba8","type":"inject","z":"102aab2a.e4c445","g":"bf1dd55b.a76b18","name":"Resetar","props":[{"p":"payload.chatId","v":"664449565","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","x":130,"y":560,"wires":[["6a2ff30b.7498ec"]]},{"id":"293ca4b.07e2a5c","type":"inject","z":"102aab2a.e4c445","g":"bf1dd55b.a76b18","name":"","props":[{"p":"payload"}],"repeat":"300","crontab":"","once":true,"onceDelay":"120","topic":"","payload":"Check","payloadType":"str","x":140,"y":600,"wires":[["47353582.4c2a4c"]]},{"id":"edd32aaa.74f668","type":"link in","z":"102aab2a.e4c445","g":"bf1dd55b.a76b18","name":"Resetar Objetos Correios","links":["82e72011.f2a53"],"x":215,"y":520,"wires":[["6a2ff30b.7498ec"]]},{"id":"6a2ff30b.7498ec","type":"function","z":"102aab2a.e4c445","g":"bf1dd55b.a76b18","name":"Resetar","func":"msg = {};\nmsg.resetar = true;\nreturn msg;","outputs":1,"timeout":"","noerr":0,"initialize":"","finalize":"","libs":[],"x":280,"y":560,"wires":[["47353582.4c2a4c"]]},{"id":"47353582.4c2a4c","type":"file in","z":"102aab2a.e4c445","g":"bf1dd55b.a76b18","name":"Lê Arquivo","filename":"/homeassistant/node-red/objetos_correios.json","filenameType":"str","format":"utf8","chunk":false,"sendError":false,"encoding":"none","allProps":false,"x":450,"y":600,"wires":[["59ddf8ea.3473f8"]]},{"id":"59ddf8ea.3473f8","type":"json","z":"102aab2a.e4c445","g":"bf1dd55b.a76b18","name":"","property":"payload","action":"","pretty":false,"x":590,"y":600,"wires":[["49dcb8af.1f1888"]]},{"id":"49dcb8af.1f1888","type":"function","z":"102aab2a.e4c445","g":"bf1dd55b.a76b18","name":"Separa Objetos","func":"const tamanho = Object.keys(msg.payload).length;\nconst msgInput = msg.payload;\n\nif (msg.listar) {\n    msg.payload = \"\";\n    \n    if (tamanho > 0) {\n        for (let i = 0; i < tamanho; i++) {\n            msg.payload += `📦 ${msgInput[i].nome} (${msgInput[i].objeto})\\n`;\n        }\n        \n        msg.payload = msg.payload.slice(0, -1);\n    } else {\n        msg.payload = \"❌ Nenhum objeto cadastrado\";\n    }\n    \n    return [msg, null];\n}\n\nif (msg.detalhes) {\n    let checarObj = 0;\n    let resumo = false;\n    \n    if (msg.resumo) {\n        resumo = true;\n    }\n    \n    for (let i = 0; i < tamanho; i++) {\n        if (msgInput[i].objeto.toUpperCase() === msg.nomeobj.toUpperCase() || msgInput[i].nome.toUpperCase() === msg.nomeobj.toUpperCase()) {\n            checarObj++;\n            msg.nome = msgInput[i].nome;\n            msg.objeto = msgInput[i].objeto;\n            msg.detalhes = true;\n            if (resumo) {\n                msg.resumo = true;\n            }\n            msg.ultimaAtualizacao = msgInput[i].ultimaAtualizacao;\n            return [null, msg]; \n        }\n    }\n    \n    if (checarObj === 0) {\n        msg.payload = \"❌ Objeto não localizado!\\n📍 Use \\\"/detalhes código (ou nome)\\\"\\n✏️ /detalhes Luva de frio\\n✏️ /detalhes OP012345678BR\";\n        return [msg, null];\n    }\n}\n\nfor (let i = 0; i < tamanho; i++) {\n    msg.nome = msgInput[i].nome;\n    msg.objeto = msgInput[i].objeto;\n    if (msg.resetar) {\n        msg.resetar = true;\n    }\n    msg.ultimaAtualizacao = msgInput[i].ultimaAtualizacao;\n    node.send([null, msg]);   \n}\n","outputs":2,"timeout":"","noerr":0,"initialize":"","finalize":"","libs":[],"x":740,"y":600,"wires":[["3bcb9858.59d468"],["f0db72fc.11c73","50fe2abb.9361f4"]]},{"id":"3bcb9858.59d468","type":"function","z":"102aab2a.e4c445","g":"bf1dd55b.a76b18","name":"Telegram","func":"var mensagem = msg.payload\n\nmsg.payload = {}\nmsg.payload.content = mensagem\nreturn msg;","outputs":1,"timeout":"","noerr":0,"initialize":"","finalize":"","libs":[],"x":900,"y":520,"wires":[["ca27bf70.97255"]]},{"id":"ca27bf70.97255","type":"link out","z":"102aab2a.e4c445","g":"bf1dd55b.a76b18","name":"Para Telegram","links":["89bcab5.908ea58"],"x":995,"y":520,"wires":[]},{"id":"da3c6657.c636f8","type":"link in","z":"102aab2a.e4c445","g":"bf1dd55b.a76b18","name":"Listar Objetos Correios","links":["32325494.8921dc"],"x":95,"y":520,"wires":[["f3efc5c7.f439e8"]]},{"id":"f3efc5c7.f439e8","type":"function","z":"102aab2a.e4c445","g":"bf1dd55b.a76b18","name":"Cadastrados","func":"msg = {};\nmsg.listar = true;\nreturn msg;","outputs":1,"timeout":"","noerr":0,"initialize":"","finalize":"","libs":[],"x":270,"y":640,"wires":[["47353582.4c2a4c"]]},{"id":"cdc633c8.5d42e","type":"inject","z":"102aab2a.e4c445","g":"bf1dd55b.a76b18","name":"Listar","props":[{"p":"payload.chatId","v":"664449565","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","x":130,"y":640,"wires":[["f3efc5c7.f439e8"]]},{"id":"1ca30250.d1296e","type":"debug","z":"102aab2a.e4c445","g":"bf1dd55b.a76b18","name":"Atualização","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":1630,"y":320,"wires":[]},{"id":"e950a149.3bb91","type":"function","z":"102aab2a.e4c445","g":"bf1dd55b.a76b18","name":"","func":"// Monta a mensagem\nmsg.mensagem = \"\";\n\n// Erro na leitura da mensagem\nif (msg.headers[\"content-type\"] !== \"application/json; charset=utf-8\" || msg.payload.quantidade === undefined) {\n    msg.mensagem = `❌ Erro ao ler dados de ${msg.nome}. Tentando novamente...`;\n    return [null, null, msg, null, null];\n}\n\n// Data Padrão\nconst dataPadrao = new Date(2010, 10, 10, 10, 10, 10);\n\n// Verificação diária de objetos entregues p/ remoção\nif (msg.inativos === true) {\n    const tamanho = Object.keys(msg.payload).length;\n    if (tamanho === 0) return;\n    if (msg.payload.eventos[0].status.includes(\"entregue\")) {\n        const nome = msg.nome;\n        return [null, { adicionar: false, inativos: true, objeto: nome, nome: nome }, null, null, null];\n    } else {\n        return;\n    }\n}\n\n// Ainda não tem dados\nif (msg.payload.quantidade === 0) {\n    // Se for a primeira leitura ou pediu para resetar\n    if (Date.parse(msg.ultimaAtualizacao) === Date.parse(dataPadrao) || msg.resetar === true || msg.detalhes === true) {\n        msg.mensagem = `📦 ${msg.nome} (${msg.objeto}) \\n⏰ Aguardando atualizações do objeto`;\n        msg.ultimaAtualizacao = new Date();\n        msg.atualizado = true;\n        return [msg, null, null, null, null];\n    } else {\n        msg.mensagem = `⏰ Sem Atualização ${msg.nome}`;\n        msg.atualizado = false;\n        return [null, null, null, null, msg];\n    }\n}\n\n// Se tiver dados, continua\n\n// Lê a última data de atualização\nconst eventoMaisRecente = msg.payload.eventos[0];\nconst ultimaAtualizacaoCorreios = new Date(`${eventoMaisRecente.data}T${eventoMaisRecente.hora}`);\n\n// Verifica se a última atualização dos correios é maior que a da memória\nif (ultimaAtualizacaoCorreios > msg.ultimaAtualizacao || msg.resetar === true || msg.detalhes === true) {\n    const atts = msg.resumo ? Math.min(msg.payload.eventos.length - 1, 2) : msg.payload.eventos.length - 1;\n    const enter = msg.resumo ? \"\\n\\n\" : \"\\n\";\n    const single = msg.resumo ? \"\\n\" : \"\";\n\n    if (!msg.resetar && !msg.detalhes) {\n        msg.mensagem = `🔻 **Atualização de pacote** 🔻\\n\\n`;\n    }\n    msg.mensagem += `📦 ${msg.nome} (${msg.objeto})${single}`;\n\n    for (let h = 0; h <= atts; h++) {\n        const evento = msg.payload.eventos[h];\n        msg.mensagem += `📌 ${evento.status}\\n📆 ${evento.data} ⏰ ${evento.hora}\\n`;\n\n        if ([\"POSTADO\", \"DESTINATÁRIO\", \"CORREIOS\", \"FISCALIZAÇÃO\"].some(keyword => evento.status.toUpperCase().includes(keyword))) {\n            msg.mensagem += `📍 ${evento.local}${enter}`;\n            if ((evento.status.includes(\"entrega\") && !msg.resetar && !msg.detalhes)) {\n                node.send([null, null, null, msg, null]);\n            }\n        } else {\n            for (let i = 0; i < evento.subStatus.length; i++) {\n                const substatus = evento.subStatus[i];\n                const resultado = substatus.split(\"->\");\n                const distrib = resultado[1] ? resultado[1].replace(/Distribuição/i, \"Distribuição\") : substatus[1];\n\n                msg.mensagem += `📤 ${resultado[0]}\\n📥 ${distrib}${enter}`;\n                if (!resultado[1]) break;\n            }\n        }\n    }\n\n    // Marca que tem atualização\n    msg.atualizacaoAnterior = msg.ultimaAtualizacao;\n    msg.ultimaAtualizacao = ultimaAtualizacaoCorreios;\n    msg.leituraRealizada = true;\n    msg.atualizado = true;\n\n    return [msg, null, null, null, null];\n} else {\n    msg.mensagem = `⏰ Sem Atualização ${msg.nome}`;\n    msg.atualizado = false;\n    return [null, null, null, null, msg];\n}\n","outputs":5,"timeout":"","noerr":0,"initialize":"","finalize":"","libs":[],"x":1420,"y":600,"wires":[["1ca30250.d1296e","bc9e1b48.649ef8","a6671fdb.80a43"],["3d14f0ef.2d59f","20376ee0.ea7452"],["c452d7e3.f81138","16f66efb.851ff1","8443064f.437c88"],["48390d36.950bd4","4d59e8c9.e1cd68"],["36675999.496e56"]]},{"id":"dcdc5e52.8232c","type":"link out","z":"102aab2a.e4c445","g":"bf1dd55b.a76b18","name":"Para Telegram","links":["89bcab5.908ea58"],"x":1715,"y":400,"wires":[]},{"id":"c452d7e3.f81138","type":"debug","z":"102aab2a.e4c445","g":"bf1dd55b.a76b18","name":"Erro","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":1610,"y":560,"wires":[]},{"id":"bc9e1b48.649ef8","type":"function","z":"102aab2a.e4c445","g":"bf1dd55b.a76b18","name":"Telegram","func":"var mensagem = msg.mensagem;\n\nmsg.payload = {}\nmsg.payload.content = mensagem\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1620,"y":400,"wires":[["dcdc5e52.8232c"]]},{"id":"a671a7bd.d43d08","type":"function","z":"102aab2a.e4c445","g":"bf1dd55b.a76b18","name":"Update","func":"msgOut = {};\nmsgOut.payload = {};\n\nvar tamanho = Object.keys(msg.payload).length;\nmsg.tamanho = tamanho;\n\nnode.send(msg);\n\n// Atualiza o modificado\nfor (i = 0; i<tamanho; i++)\n{\n    if (msg.payload[i].objeto == msg.objeto)\n    {\n        msg.payload[i].ultimaAtualizacao = msg.ultimaAtualizacao;\n    }\n}\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":2060,"y":360,"wires":[["41ee9760.1ff678"]]},{"id":"3f44664c.186b5a","type":"file in","z":"102aab2a.e4c445","g":"bf1dd55b.a76b18","name":"Lê Arquivo","filename":"/homeassistant/node-red/objetos_correios.json","filenameType":"str","format":"utf8","chunk":false,"sendError":false,"encoding":"none","allProps":false,"x":1790,"y":360,"wires":[["74b0d9db.95f898"]]},{"id":"74b0d9db.95f898","type":"json","z":"102aab2a.e4c445","g":"bf1dd55b.a76b18","name":"","property":"payload","action":"","pretty":false,"x":1930,"y":360,"wires":[["a671a7bd.d43d08"]]},{"id":"a6671fdb.80a43","type":"delay","z":"102aab2a.e4c445","g":"bf1dd55b.a76b18","name":"","pauseType":"rate","timeout":"4","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"outputs":1,"x":1630,"y":360,"wires":[["3f44664c.186b5a"]]},{"id":"48390d36.950bd4","type":"debug","z":"102aab2a.e4c445","g":"bf1dd55b.a76b18","name":"Saiu para entrega","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":1650,"y":660,"wires":[]},{"id":"41ee9760.1ff678","type":"json","z":"102aab2a.e4c445","g":"bf1dd55b.a76b18","name":"","property":"payload","action":"","pretty":false,"x":2190,"y":360,"wires":[["6820f8c4.86aba8"]]},{"id":"6820f8c4.86aba8","type":"file","z":"102aab2a.e4c445","g":"bf1dd55b.a76b18","name":"Salva no arquivo","filename":"/homeassistant/node-red/objetos_correios.json","filenameType":"str","appendNewline":true,"createDir":false,"overwriteFile":"true","encoding":"none","x":2350,"y":360,"wires":[[]]},{"id":"4d59e8c9.e1cd68","type":"function","z":"102aab2a.e4c445","g":"bf1dd55b.a76b18","name":"Saiu para entrega","func":"msg.payload = \"O objeto \" + msg.nome + \" saiu para entrega\"\nreturn msg","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1650,"y":700,"wires":[[]]},{"id":"52bce12.626712","type":"link in","z":"102aab2a.e4c445","g":"bf1dd55b.a76b18","name":"Detalhes","links":["80cc10ca.2c6b1","26b49442.4566fc"],"x":325,"y":522,"wires":[["47353582.4c2a4c"]]},{"id":"eb7440e1.c2e1c","type":"link out","z":"102aab2a.e4c445","g":"bf1dd55b.a76b18","name":"Para Telegram","links":["89bcab5.908ea58"],"x":1715,"y":600,"wires":[]},{"id":"16f66efb.851ff1","type":"function","z":"102aab2a.e4c445","g":"bf1dd55b.a76b18","name":"Telegram","func":"var mensagem = msg.mensagem;\nif (msg.resetar == true ||  msg.detalhes == true) {\nmsg.payload = {}\nmsg.payload.content = mensagem\nreturn msg;  \n} else {\n    return\n}\n\n","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1620,"y":600,"wires":[["eb7440e1.c2e1c"]]},{"id":"fcf146f0.ebd018","type":"function","z":"102aab2a.e4c445","g":"bf1dd55b.a76b18","name":"Inativos","func":"msg = {};\nmsg.inativos = true;\nreturn msg;","outputs":1,"timeout":"","noerr":0,"initialize":"","finalize":"","libs":[],"x":280,"y":680,"wires":[["47353582.4c2a4c"]]},{"id":"3d14f0ef.2d59f","type":"delay","z":"102aab2a.e4c445","g":"bf1dd55b.a76b18","name":"limit 1 msg/s","pauseType":"rate","timeout":"4","timeoutUnits":"seconds","rate":"1","nbRateUnits":"5","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"outputs":1,"x":1630,"y":500,"wires":[["1b41ae27.22fa02","8b796b25.2bdaa8"]]},{"id":"1b41ae27.22fa02","type":"function","z":"102aab2a.e4c445","g":"bf1dd55b.a76b18","name":"Telegram","func":"var mensagem = `🚩 O objeto ${msg.nome} foi removido devido ao status \"Entregue\"!`\nmsg.payload = {}\nmsg.payload.content = mensagem\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1780,"y":500,"wires":[["51604cb9.2f2b24"]]},{"id":"51604cb9.2f2b24","type":"link out","z":"102aab2a.e4c445","g":"bf1dd55b.a76b18","name":"Para Telegram","links":["89bcab5.908ea58"],"x":1875,"y":500,"wires":[]},{"id":"8443064f.437c88","type":"counter","z":"102aab2a.e4c445","g":"bf1dd55b.a76b18","name":"< 10","init":"0","step":"1","lower":"","upper":"","mode":"increment","outputs":"1","x":1090,"y":680,"wires":[["35bd9a9d.045686"]]},{"id":"35bd9a9d.045686","type":"function","z":"102aab2a.e4c445","g":"bf1dd55b.a76b18","name":"Limite Erros","func":"// Reset\nif (msg.reset != undefined) return\n\n// Menos de 10 erros\nif (msg.count < 10) return ([msg, null])\n\n// 10 Erros\nif (msg.count == 10) return ([null, msg])\n\n// Mais de 10 erros - Já avisou\nif (msg.count > 10) return","outputs":2,"timeout":"","noerr":0,"initialize":"","finalize":"","libs":[],"x":1250,"y":820,"wires":[["f0db72fc.11c73"],["bb22fb88.c88168","626617af.35f7a8"]]},{"id":"50fe2abb.9361f4","type":"function","z":"102aab2a.e4c445","g":"bf1dd55b.a76b18","name":"Zera Contador","func":"msg = {}\nmsg.reset = true;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":920,"y":820,"wires":[["8443064f.437c88"]]},{"id":"bb22fb88.c88168","type":"debug","z":"102aab2a.e4c445","g":"bf1dd55b.a76b18","name":"Erros Acumulados","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":1650,"y":820,"wires":[]},{"id":"20376ee0.ea7452","type":"debug","z":"102aab2a.e4c445","g":"bf1dd55b.a76b18","name":"Remove Concluído","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":1650,"y":460,"wires":[]},{"id":"36675999.496e56","type":"debug","z":"102aab2a.e4c445","g":"bf1dd55b.a76b18","name":"Sem atualização","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":1650,"y":760,"wires":[]},{"id":"6a205e0.0a5e3a4","type":"function","z":"102aab2a.e4c445","g":"bf1dd55b.a76b18","name":"Telegram","func":"msg.payload = {} \nmsg.payload.content = `⚠️ Um ou mais pacotes retornaram muitos erros de verificação!\n⚠️ A atualização foi interrompida temporariamente!\n⚠️ Verifique quais pacotes retornam erros usando /detalhes e selecionando a opção status\n⚠️ Considere removê-los da lista de checagem para evitar maiores problemas!`\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1620,"y":860,"wires":[["8d08a95f.3d8158"]]},{"id":"8d08a95f.3d8158","type":"link out","z":"102aab2a.e4c445","g":"bf1dd55b.a76b18","name":"Para Telegram","links":["89bcab5.908ea58"],"x":1715,"y":860,"wires":[]},{"id":"6690f237.e234ac","type":"inject","z":"102aab2a.e4c445","g":"bf1dd55b.a76b18","name":"","props":[{"p":"payload"}],"repeat":"","crontab":"00 00 * * *","once":false,"onceDelay":"120","topic":"","payload":"Limpar","payloadType":"str","x":140,"y":680,"wires":[["fcf146f0.ebd018"]]},{"id":"8b796b25.2bdaa8","type":"link out","z":"102aab2a.e4c445","g":"bf1dd55b.a76b18","name":"Reset inativos","links":["3bfcda23.3b57e6"],"x":1875,"y":460,"wires":[]},{"id":"7b866d44.027b84","type":"debug","z":"102aab2a.e4c445","g":"bf1dd55b.a76b18","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":1360,"y":720,"wires":[]},{"id":"626617af.35f7a8","type":"delay","z":"102aab2a.e4c445","g":"bf1dd55b.a76b18","name":"","pauseType":"rate","timeout":"6","timeoutUnits":"hours","rate":"1","nbRateUnits":"6","rateUnits":"hour","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":true,"outputs":1,"x":1440,"y":860,"wires":[["6a205e0.0a5e3a4"]]},{"id":"4fd64594c863cccf","type":"http request","z":"102aab2a.e4c445","g":"bf1dd55b.a76b18","name":"","method":"GET","ret":"txt","paytoqs":false,"url":"","persist":false,"insecureHTTPParser":false,"authType":"","senderr":false,"headers":[],"x":1240,"y":600,"wires":[["e950a149.3bb91"]]},{"id":"015caf72c9ac3d06","type":"telegram sender","z":"102aab2a.e4c445","g":"f2cead29.8a88e","name":"","bot":"c403a9a212b8a39b","haserroroutput":false,"outputs":1,"x":720,"y":60,"wires":[[]]},{"id":"689ad8a3242e2f25","type":"telegram command","z":"102aab2a.e4c445","g":"f2cead29.8a88e","name":"","command":"/add","description":"","registercommand":false,"language":"","scope":"default","bot":"c403a9a212b8a39b","strict":false,"hasresponse":true,"useregex":false,"removeregexcommand":false,"outputs":2,"x":100,"y":60,"wires":[["aa546ee6.54e91","dbcaebd292d76dd1"],[]]},{"id":"ecd9b831ad71a7ba","type":"telegram command","z":"102aab2a.e4c445","g":"f2cead29.8a88e","name":"","command":"/del","description":"","registercommand":false,"language":"","scope":"default","bot":"c403a9a212b8a39b","strict":false,"hasresponse":true,"useregex":false,"removeregexcommand":false,"outputs":2,"x":100,"y":100,"wires":[["1a7bac1c.c6fea4"],[]]},{"id":"02739e42ab3b4734","type":"telegram command","z":"102aab2a.e4c445","g":"f2cead29.8a88e","name":"","command":"/detalhes","description":"","registercommand":false,"language":"","scope":"default","bot":"c403a9a212b8a39b","strict":false,"hasresponse":true,"useregex":false,"removeregexcommand":false,"outputs":2,"x":110,"y":140,"wires":[["1b6f36db.f32549"],[]]},{"id":"dbcaebd292d76dd1","type":"debug","z":"102aab2a.e4c445","g":"f2cead29.8a88e","name":"debug 233","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":520,"y":160,"wires":[]},{"id":"88660fa228e48a74","type":"debug","z":"102aab2a.e4c445","g":"e0603566.fa85c8","name":"debug 234","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":560,"y":1240,"wires":[]},{"id":"1cedb5206a62a7a1","type":"debug","z":"102aab2a.e4c445","g":"e0603566.fa85c8","name":"debug 235","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":540,"y":1160,"wires":[]},{"id":"c403a9a212b8a39b","type":"telegram bot","botname":"Home Assistant","usernames":"Thunderb0lt_BR","chatids":"1147754709,6621480792,5484788588,6467204531,6734811014","baseapiurl":"","updatemode":"polling","pollinterval":"300","usesocks":false,"sockshost":"","socksprotocol":"socks5","socksport":"6667","socksusername":"anonymous","sockspassword":"","bothost":"","botpath":"","localbotport":"8443","publicbotport":"8443","privatekey":"","certificate":"","useselfsignedcertificate":false,"sslterminated":false,"verboselogging":false}]
